@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Lexend+Zetta:wght@100&display=swap');

*{
    font-family: 'Gruppo', sans-serif;
    font-family: 'Lexend Zetta', sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    background-color: #ffebe4
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "nav" "main" "footer";
}

header, main, footer {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

#logo {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

header {
    font-size: 1.5rem;
    font-weight: 500;
}

header nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}

header nav div {
    display: flex;
    gap: 1rem;
}

.navbar {
    display: none;
}

.menn-dame {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menn-dame h2 {
    flex-basis: 100%;
}

.menn-dame article {
    flex-basis: 35%;
    min-width: 300px;
}

.menn-dame article img {
    width: 100%;
}

.meny a {
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.meny {
    list-style: none;
}

.populart{
    display:inline-block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.populart a {
    text-decoration: none;
}

.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(156, 156, 156);
    list-style: none;
    margin: 0;
    padding: 0;
    top: 40px;
    width: 100%;
}

#omOss {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #d8c0c0;
    padding: 1rem 0;
    justify-content: space-around;
}

#omOss h2 {
    width: 100%;
    text-align: center;
}

#omOss li {
    width: 100%;
    text-align: center;
    list-style: none;
}

#omOss article {
    max-width: 300px;
    width: 100%;
    min-width: 200px;
}

@media only screen and (min-width:800px) {
    #grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, auto);
    }

    header {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    main {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    aside {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    footer {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}



