@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Lexend+Zetta:wght@100&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Gruppo', sans-serif;
    font-family: 'Lexend Zetta', sans-serif;
    background-color: azure;
}

body {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "nav" "main" "aside" "footer";
}

header {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

#logo {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

header {
    display: flex;
    max-width: 1400px;
    width: 100%;
    height: 75px;
    background-color: #909090;
    justify-content: space-between;
    align-items:center;
}

.menn-dame {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menn-dame h2 {
    flex-basis: 100%;
}

.menn-dame article {
    flex-basis: 35%;
    min-width: 300px;
}

.menn-dame article img {
    width: 100%;
}

.meny a {
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.meny {
    list-style: none;
}

.populart{
    display:inline-block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.populart a {
    text-decoration: none;
}

@media only screen and (min-width:800px) {
    #grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, auto);
    }

    header {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    main {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    aside {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    footer {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}



